<h2 class="text-center text-2xl mt-4">予約一覧</h2>

<%= link_to '予約追加', new_admin_reservation_path %>

<% if @reservations.any? %>
  <% @reservations.each do |reservation| %>
    <div>
      <p>映画タイトル：<%= reservation.schedule.movie.name %></p>
    日時: <a href="<%= edit_admin_reservation_path(reservation.id) %>"><%= reservation.date.strftime("%Y-%m-%d %H:%M") %></a>
      <p>座席: <%= reservation.sheet.row %>-<%= reservation.sheet.column %></p>
      <p>名前: <%= reservation.name %></p>
      <p>メールアドレス: <%= reservation.email %></p>
    </div>
  <% end %>
<% else %>
  <p>現在、上映予定の予約はありません。</p>
<% end %>
