<h2 class="text-center text-2xl mt-4">映画編集画面</h2>
<%= form_with(model: [:admin, @movie], local: true) do |form| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name, "タイトル" %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :year, "公開年" %>
    <%= form.number_field :year %>
  </div>
  <div class="field">
    <%= form.label :description, "概要" %>
    <%= form.text_area :description, rows: 5 %>
  </div>
  <div class="field">
    <%= form.label :image_url, "画像URL" %>
    <%= form.text_field :image_url %>
  </div>
  <div class="field">
    <%= form.label :is_showing, "上映中" %>
    <%= form.check_box :is_showing %>
  </div>
  <div class="actions">
    <%= form.submit "更新" %>
  </div>
  <% if flash[:error] %>
    <p style="color:red;"><%= flash[:error] %></p>
  <% end %>
  <% if flash[:success] %>
    <p style="color:green;"><%= flash[:success] %></p>
  <% end %>
<% end %>
<%= link_to '戻る', admin_movies_path %>
<%= button_to '削除', admin_movie_path(@movie), method: :delete, data: { turbo_confirm: "本当に削除しますか？" } %>
