<h1>座席予約</h1>

<% if flash[:error] %>
  <div>
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-warning">
    <%= flash[:alert] %>
  </div>
<% end %>


<% if flash[:notice] %>
  <div>
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_with model: @reservation, url: reservations_path, method: :post, local: true do |f| %>
  <div>
    <strong>映画：</strong>  <%= @movie.name %>
  <!-- <%= f.label :movie_id %> -->
  <%= f.hidden_field :movie_id, value: @movie.id %>
  </div>

  <div>
  <%= f.label :schedule_id %>
  <%= f.hidden_field :schedule_id, value: @schedule.id %>
  <%= @schedule.start_time.strftime('%H:%M') %>
  </div>

  <div>
  <%= f.label :sheet_id %>
  <%= f.hidden_field :sheet_id, value: @sheet_id %>
  <%= @sheet_id %>
  </div>

  <div>
  <%= f.label :date %>
  <%= f.hidden_field :date, value: @date %>
  <%= @reservation.date.try(:strftime, '%Y-%m-%d') %>
  </div>


  <%= f.label :name, '名前' %>
  <%= f.text_field :name, required: true %>

  <%= f.label :email, 'メールアドレス' %>
  <%= f.text_field :email, required: true %>

  <%= f.submit '座席を予約する' %>
<% end %>
