<h2 class="text-center text-2xl mt-4">スケジュール詳細画面</h2>
<div class="mt-2 text-center">
  <p>開始年：<%= @schedule.start_time.strftime('%Y') %></p>
  <%= form_for([:admin, @schedule]) do |f| %>
    <div class="mt-2">
      <%= f.label :start_time, "開始時間：" %>
      <%= f.datetime_field :start_time %>
    </div>
    <div class="mt-2">
      <%= f.label :end_time, "終了時間：" %>
      <%= f.datetime_field :end_time %>
    </div>
    <div class="actions text-center">
      <%= f.submit "送信" %>
    </div>
    <div class="mx-auto w-1/4 text-white bg-red-500 hover:bg-red-700 py-2 px-4 rounded">
      <%= button_to "削除", admin_schedule_path(@schedule), method: :delete, data: { turbo_confirm: "本当に削除しますか？"} %>
    </div>
  </div>
<% end %>
