<!DOCTYPE html>
<html>
  <head>
    <title>映画予約サイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'style', media: 'all', "data-turbo-track": "reload" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-black text-white p-2 flex justify-between items-center">
      <div>
        <%= link_to "映画予約サイト", root_path, class: "text-xl font-bold" %>
      </div>
      <nav>
        <% if user_signed_in? %>
          <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
        <% else %>
          <%= link_to "会員登録", new_user_registration_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" %>
          <%= link_to "ログイン", new_user_session_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
        <% end %>
      </nav>
    </header>
    <main class="container mx-auto mt-8 px-4">
      <%= yield %>
    </main>
  </body>
</html>
